.notFoundContainer {
  background-image: linear-gradient(to left, #c31432, #240b36);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.notFoundContent h1 {
  font-size: 160px;
  font-weight: 700;
  font-family: sans-serif;
}
.goBack {
  text-decoration: none;
  color: #333;
  background: #fff;
  padding: 15px 25px;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
}
.goBack:hover {
  text-decoration: none;
  background: paleturquoise;
}
