.mainHeader {
  background-image: url(../../images/header-banner.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: rgb(51 51 51 / 65%);
  background-blend-mode: multiply;
}
.mainHeader h1 {
  color: #fff;
  font-weight: 800;
  font-size: 55px;
  letter-spacing: 5px;
}
.headerTitle {
  display: flex;
  align-items: center;
  min-height: 200px;
  justify-content: center;
}


@media only screen and (max-width: 575px) {
  .mainHeader h1 {
      font-size: 42px;
  }
  
}
